# Виртуальное окружение
venv/
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Системные
.DS_Store
Thumbs.db

# Секреты и конфиги
secrets.json
config.json
.local
.env.local

# Render / Railway / Vercel
.vercel
.next
dist/
build/
