--index-url https://pypi.org/simple/
--trusted-host pypi.org
--trusted-host files.pythonhosted.org
--timeout 120

fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-core>=2.18.0
presidio-anonymizer
wheels/presidio_analyzer-2.2.360-py3-none-any.whl
scikit-learn
joblib






